// app global css in SCSS form

/* -- Global -- */

body {
  font-family: "Lato", sans-serif;
}

.q-page-container {
  background: url(../assets/fondo_header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -300px;
}

/* -- Menú -- */

.q-drawer {
  background: $secondary;
  .q-list {
    .q-item,
    .q-item__label {
      color: $accent;
    }
  }
}

/* -- Textos -- */

h1 {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.05;
  color: $accent;
  text-align: left;
  padding-left: 3rem;
  padding-top: 3rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0;
  text-transform: uppercase;
  color: $accent;
  text-align: left;
  padding-left: 3rem;
  padding-top: 3rem;
  margin-top: 10px;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
}

h4 {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.text-h5 {
  font-size: 1rem;
}

.text-h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
}

/* -- Error -- */

.q-field--error {
  .q-field__bottom {
    padding-top: 3px;
  }
}

/* -- Botones -- */

.q-btn {
  transition: all 0.2s ease-in;
  box-shadow: none !important;
  &.bg-primary {
    border: 2px solid $primary;
    &:hover {
      background: $secondary !important;
      border: 2px solid $secondary;
      transition: all 0.2s ease-in-out;
    }
  }
  &.bg-secondary {
    border: 2px solid $secondary;
    &:hover {
      background: $primary !important;
      border: 2px solid $primary;
      transition: all 0.2s ease-in-out;
    }
  }
  &.q-btn--outline.text-secondary {
    &:hover {
      background: $secondary !important;
      color: $accent !important;
      &:before {
        border: 0px !important;
      }
    }
  }
  &:before {
    box-shadow: none;
  }
}

.big-button {
  height: 6rem;
  width: 100%;
  margin: 1rem 0.5rem;
}

.back-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  //color: $secondary;
  //border: 2px solid $secondary;
  transition: all 0.2s ease-in;
  &:hover {
    //border: 2px solid $primary;
    background: $primary;
    transition: all 0.2s ease-in-out;
    color: $accent;
  }
  .q-btn {
    &:before {
      box-shadow: none !important;
    }
  }
}

.admin-button {
  width: 90%;
}

/* -- Form -- */

form {
  .q-field__control {
    border: 2px solid $secondary-trans;
    border-radius: 16px !important;
    background: $secondary-light;
  }
  .q-field--highlighted {
    .q-field__control {
      border: 2px solid $primary;
      &:before,
      &:after {
        content: none;
      }
      &.text-negative {
        border: 2px solid #c10015;
      }
    }
  }
  .q-field--outlined {
    .q-field__control {
      &:before {
        border: 0px !important;
      }
    }
  }
  .q-select {
    .q-field__control {
      padding: 0 12px;
      &:before,
      &:hover:before {
        border: 0px !important;
      }
    }
  }
  .q-icon {
    color: $primary;
  }
}

.q-manual-focusable--focused {
  opacity: 1;
  background: $secondary;
  color: $accent;
}

.q-select__dialog {
  max-width: 400px !important;
  .q-select--single {
    background: $secondary;
  }
  .q-field__label,
  .q-field__control-container span,
  .q-icon {
    color: $accent;
  }
}

.q-field--with-bottom {
  padding: 0;
}

/* -- Tablas generales -- */

.q-table__container {
  .q-table__top {
    background: $primary;
    color: $accent;
    text-transform: uppercase;
  }
  thead {
    th {
      background: $secondary;
      color: $accent;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      &:nth-child(even):not(:first-child) {
        background: $secondary-trans;
      }
      a {
        color: $primary;
        font-weight: 400;
      }
    }
  }
}

/* -- Admin -- */

.adminDialog {
  max-width: 90vw !important;
  max-height: 90vh !important;
}
